<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /b2b/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /b2b/index.html [L]
</IfModule>
